{
    email {$OSMSG_ACME_EMAIL}
}

{$OSMSG_FRONTEND_DOMAIN:localhost} {
    encode gzip

    @api path /api/* /health /docs /docs/* /schema /schema/*
    handle @api {
        reverse_proxy api:8000
    }

    handle {
        root * /srv/leaderboard
        templates
        try_files {path} {path}/ /index.html
        file_server
    }
}

{$OSMSG_API_DOMAIN:api.localhost} {
    reverse_proxy api:8000
}
