<div class="container">
    <hr class="footer-divider">
    <div class="footer">
        <div class="footer-info">
            <span class="material-icons footer-info-icon">map</span>
            © OSMSG · OpenStreetMap Stats Generator {{ current_year }}
        </div>
        <div class="footer-links">
            <a href="#">
                <span class="material-icons footer-link-icon">group_add</span>
                Contributing
            </a>
            <a href="#">
                <span class="material-icons footer-link-icon">gavel</span>
                Code of conduct
            </a>
        </div>
    </div>
</div>