<nav class="navbar">
    <div class="container nav-container">
        <div class="logo-area">
            <div class="logo-icon">OSM</div>
            <div class="logo-text">OSM<span>SG</span></div>
            <div class="logo-small">v0.3.0</div>
        </div>
        <div class="nav-links">
            <a href="/">
                Home
            </a>
            <a href="/about">
                About
            </a>
            <a href="/contact">
                Contact
            </a>
            <a href="https://github.com/osgeonepal" target="_blank">
                <span class="material-icons nav-link-icon">code</span>
            </a>
        </div>
    </div>
</nav>